<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <h3>Проект job4j_dreamjob, выполняемый в рамках курса Job4j</h3>
    <br> <a th:href="@{/vacancies}">Вакансии</a> </br>
    <br> <a th:href="@{/candidates}">Кандидаты</a> </br>
    <br> <a th:href="@{vacancies/create}">Создать вакансию</a> </br>
    <br> <a th:href="@{candidates/create}">Создать резюме</a> </br>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>